html
  head
    meta(charset='utf-8')
    title="LawBot — The World's Most Advanced Chatbot Lawyer"
    link(rel='stylesheet' href='/css/tachyons.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    div#app
    script(src='/js/bundle.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-86001352-1', 'auto');
      ga('send', 'pageview');
